/* chips */
.chip-container {
  margin: 0 auto 5rem;
  min-height: 100px;
  background: var(--container);
  flex-wrap: wrap;
  gap: .625rem;
  padding: 1rem;
}
.chip {
    border-radius: 2rem;
    background: var(--chip-bg);
    padding: 0 0.6rem;
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor:default;
  }
  .chip:hover {
    background: var(--chip-bg-hover);
  }
  .x-btn {
    background: var(--x-button);
    border-radius: 50%;
    border: 0;
    color: white;
    font-size: larger;
    width:1.5rem;
    height:1.5rem;
    display:grid;
    place-content: center;
  }
  .x-btn:hover {
    background: var(--x-button-hover);
  }
  
  .chip-input {
    height:1.2rem;
    font-size:1rem;
    flex-grow: 1;
    order: 1;
  }
  