:root {
}
.sidebar {
  min-width: 15rem;
  background: var(--header-bg);
  color: white;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: all 2s cubic-bezier(0.4, 0, 0.2, 1);
}
.avatar img {
  border-radius: 50%;
  width: 5rem;
  box-shadow:4px 4px 20px 4px var(--light-bg);
}
.nav-list span {
  padding: 0.5rem 1rem;
}
.nav-list span:hover {
  background: white;
  color: var(--header-bg);
}

@media screen and (max-width: 600px) {
  .sidebar {
    flex-direction: row;
    justify-content: space-around;
  }
  .nav-list {
    flex-direction: row;
  }
}
