
.sidebar {
  min-width: 15rem;
  background: var(--header-bg);
  color: white;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: all 2s cubic-bezier(0.4, 0, 0.2, 1);
  
}

.avatar img {
  border-radius: 50%;
  width: 5rem;
  box-shadow: 0px 0px 20px -2px var(--light-bg);

}
.nav-list{
  max-height:60vh;
  overflow-y: auto;
}
.nav-list span {
  padding: 0.5rem 1rem;
  cursor: default;
  text-align: center;
  position: relative;
}


/* hover animation  */
.nav-list span:after {
  content: "";
  height: 2px;
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  transform: scaleX(0.5);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 1) 0s;
  opacity: 0;

}
.nav-list span:hover:after {
  transform: scaleX(0.7);
  opacity: 1;
}

.active{
  background: var(--light-bg);
  color: var(--header-bg);
}
@media screen and (max-width: 600px) {
  .sidebar {
    flex-direction: row-reverse;
    width:100vw;
  }

  .nav-list {
    flex-direction: row;
    width:100vw;
    justify-content: center safe;
    overflow-y: auto;
  }
}

.nav-list::-webkit-scrollbar{
  display:none;
}