@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500&display=swap");
@import 'css/chips.css';
@import 'css/cards.css';
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
}
:root {
  --container: #e0e0e0;

  /* chips */
  --chip-bg: #c6c6c6;
  --chip-bg-hover: #bdbdbd;
  --x-button: #929292;
  --x-button-hover: #696969;

  /* drawer */
  --drawer-bg: rgb(253, 253, 253);
  --drawer-theme-bg: rgba(98, 0, 238, 0.2);
  --drawer-theme: rgba(98, 0, 238, 0.87);
}

/* element selector */
input {
  background: transparent;
  border: 0;
}
input:focus {
  outline: none;
}

/* utils */

.flex-center {
  display: flex;
  align-items: center;
}
.flex-c {
  display: flex;
  flex-direction: column;
}
.flex-r {
  display: flex;
  flex-flow: row wrap;
}

.headings {
  margin: 1rem;
}

/*  */
main {
  padding: 1rem;
}
.container {
  margin: 0 auto 5rem;
  min-height: 100px;
  background: var(--container);
  flex-wrap: wrap;
  gap: 10px;
  padding: 2rem;
}




/* drawer */

.drawer {
  margin:auto;
  background: var(--drawer-bg);
  height: 100%;
  width: 16rem;
  /* border:0; */
  transition: all 2s cubic-bezier(0.4, 0, 0.2, 1);
}
.drawer-heading {
  
  min-height: 4rem;
  padding: 0 1rem 0.25rem;
}
.drawer-heading h1 {
  margin-top:1rem;
  font-size: 1.25rem;
  font-weight: 500;
}
.drawer-heading h3 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
  color: rgba(0, 0, 0, 0.6);
}
.drawer-list {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}
.drawer-list-item {
  text-decoration: none;
  color: black;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
  height: 40px;
  margin: 8px;
  padding: 0 0.25rem;
  border-radius: 0.25rem;

  display: flex;
  align-items: center;
}
.drawer-list-item-activated {
  background: var(--drawer-theme-bg);
  color: var(--drawer-theme);
}

.drawer-list-icons {
  opacity: 0.6;
  margin-right: 2rem;
  width: 1.5rem;
  height: 1.5rem;
}
